.botao-acao{
    border: 0;
    background-color: var(--amarelo);

    padding: 1em 2em;

    font-family: 'txt-botao';
    color: var(--branco);
    text-transform: uppercase;
}

.botao-acao:hover{
    background-color: var(--azul);
}