:root {
    --azul: #118ab2;
    --amarelo: #ffd166;
    --preto: #2a2a2a;
    --cinza: #444444;
    --branco: #fff;
}

* {
    letter-spacing: .1em;
}

html {
    scroll-behavior: smooth;
}


/* FONTES DO PROJETO */

@font-face {
    font-family: 'h1';
    src: url('./fonts/Montserrat-BoldItalic.ttf');
}

@font-face {
    font-family: 'h2';
    src: url('./fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'txt-botao';
    src: url('./fonts/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: 'p-menu';
    src: url('./fonts/Montserrat-Regular.ttf');
}




/* ESTILO PADRÃO DOS ELEMENTOS */
/* MOBILE */

h1 {
    font-family: 'h1';
    font-size: 2.8em;
}

h2 {
    font-family: 'h2';
    font-size: 2.1em;
}

/* texto da menu */
p,
h5,
a {
    font-family: 'p-menu';
    font-size: .9em;
    color: var(--cinza);
}

h5 {
    text-transform: uppercase;
}

a {
    text-decoration: none;
}